Repository worlddrknss/linksphere: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build

.gitlab-ci.yml:

include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml

stages:
  - sast
  - secret_detection
  - build

# Shared job template (replaces docker-build.yml in GitHub)
.docker-build-template:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - echo "Logging into GitLab Container Registry"
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"

    # Normalize names to lowercase
    - IMAGE=$(echo "${IMAGE_NAME}:${CI_COMMIT_SHA}" | tr '[:upper:]' '[:lower:]')
    - LATEST=$(echo "${IMAGE_NAME}:latest" | tr '[:upper:]' '[:lower:]')

    - echo "Building $IMAGE"
    - docker build -t "$IMAGE" "$BUILD_PATH"
    - docker tag "$IMAGE" "$LATEST"

    - echo "Pushing images"
    - docker push "$IMAGE"
    - docker push "$LATEST"

# Backend job
backend-build:
  extends: .docker-build-template
  variables:
    SERVICE: "backend"
    BUILD_PATH: "./backend"
    IMAGE_NAME: "$CI_REGISTRY_IMAGE/linksphere-backend"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop"'
      changes:
        - backend/**/*

# Frontend job
frontend-build:
  extends: .docker-build-template
  variables:
    SERVICE: "frontend"
    BUILD_PATH: "./frontend"
    IMAGE_NAME: "$CI_REGISTRY_IMAGE/linksphere-frontend"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop"'
      changes:
        - frontend/**/*

feat: add test stage to GitLab CI/CD configuration
  .gitlab-ci.yml
Due: none

feat: add GitLab pipeline status badge to README
  README.md
Due: none

feat: implement URL creation, deletion, and statistics handling
  backend/internal/app/handlers/create_handler.go
  backend/internal/app/handlers/delete_handler.go
  backend/internal/app/handlers/handlers.go
  backend/internal/app/handlers/stats_handler.go
  backend/internal/app/routes/router.go
Due: backend-build

feat: add ListUrls handler for paginated URL retrieval
  backend/internal/app/handlers/admin_handler.go
  backend/internal/app/routes/router.go
Due: backend-build

feat: add deployment scripts for ECS and Docker setup
  infra/scripts/deploy_to_ecs.py
  infra/scripts/setup_and_deploy.sh
Due: none

feat: add Terraform configuration for AWS infrastructure setup
  infra/main.tf
  infra/terraform/main.tf
  infra/terraform/outputs.tf
  infra/terraform/terraform.tfvars.example
  infra/terraform/variables.tf
Due: none

feat: add initial Helm chart configuration and default values for LinkSphere
  infra/helm/.helmignore
  infra/helm/Chart.yaml
  infra/helm/values.yaml
Due: none

feat: update README.md to replace CI badges with GitLab pipeline badges
  README.md
Due: none

feat: update title in index.html to reflect LinkSphere branding
  frontend/index.html
Due: frontend-build

feat: update title in index.html to include 'Automation'
  frontend/index.html
Due: frontend-build

feat: enhance GitLab CI configuration with improved logging and image handling
  .gitlab-ci.yml
Due: none

fix: correct title in index.html to remove 'Automation' suffix
  backend/Dockerfile
  frontend/index.html
Due: backend-build, frontend-build

refactor: improve Docker build job templates and normalize image naming
  .gitlab-ci.yml
Due: none

fix: correct build stage comment in Dockerfile and update title in index.html to include 'Automation'
  backend/Dockerfile
  frontend/index.html
Due: backend-build, frontend-build

refactor: normalize image tag variables in Docker build script
  .gitlab-ci.yml
Due: none

fix: update title in index.html to remove 'Automation' suffix and correct comment in Dockerfile
  backend/Dockerfile
  frontend/index.html
Due: backend-build, frontend-build

fix: update Docker build script to normalize image tags and push build variant
  .gitlab-ci.yml
Due: none

fix: update title in index.html to remove 'Automation' suffix and correct build stage comment in Dockerfile
  backend/Dockerfile
  frontend/index.html
Due: backend-build, frontend-build

feat: add release stage and jobs for tagged releases in CI pipeline
  .gitlab-ci.yml
Due: none

fix: update GitLab CI configuration to clarify job rules for branches and tags
  .gitlab-ci.yml
Due: none

feat: add Docker build and release job templates for CI pipeline
  .gitlab-ci.yml
  .gitlab/ci/build.yml
  .gitlab/ci/release.yml
Due: none

feat: add Helm charts for linksphere-backend and linksphere-frontend with deployment and service templates
  infra/helm/.helmignore
  infra/helm/Chart.yaml
  infra/helm/linksphere-backend/chart.yaml
  infra/helm/linksphere-backend/templates/deployment.yaml
  infra/helm/linksphere-backend/templates/service.yaml
  infra/helm/linksphere-backend/values.yaml
  infra/helm/linksphere-frontend/chart.yaml
  infra/helm/linksphere-frontend/templates/deployment.yaml
  infra/helm/linksphere-frontend/templates/service.yaml
  infra/helm/linksphere-frontend/values.yaml
  infra/helm/values.yaml
Due: none

fix: update Helm chart names for linksphere-backend and linksphere-frontend to include '-helm' suffix
  infra/helm/linksphere-backend/chart.yaml
  infra/helm/linksphere-frontend/chart.yaml
Due: none

feat: recreate Helm chart files for linksphere-backend and linksphere-frontend
  infra/helm/linksphere-backend/Charts.yaml
  infra/helm/linksphere-frontend/Charts.yaml
Due: none

feat: recreate Helm chart files for linksphere-backend and linksphere-frontend
  infra/helm/linksphere-backend/Chart.yaml
  infra/helm/linksphere-frontend/Chart.yaml
Due: none

feat: add helper template files for linksphere-backend and linksphere-frontend
  infra/helm/linksphere-backend/templates/_helpers.tpl
  infra/helm/linksphere-frontend/templates/_helpers.tpl
Due: none

fix: standardize container name reference in deployment templates for linksphere-backend and linksphere-frontend
  infra/helm/linksphere-backend/templates/deployment.yaml
  infra/helm/linksphere-frontend/templates/deployment.yaml
Due: none

fix: update container name references in deployment and service templates for linksphere-backend and linksphere-frontend
  infra/helm/linksphere-backend/templates/deployment.yaml
  infra/helm/linksphere-backend/templates/service.yaml
  infra/helm/linksphere-frontend/templates/deployment.yaml
  infra/helm/linksphere-frontend/templates/service.yaml
Due: none

refactor: replace helper template references with direct Release.Name usage in linksphere-backend and linksphere-frontend
  infra/helm/linksphere-backend/templates/_helpers.tpl
  infra/helm/linksphere-backend/templates/deployment.yaml
  infra/helm/linksphere-backend/templates/service.yaml
  infra/helm/linksphere-frontend/templates/_helpers.tpl
  infra/helm/linksphere-frontend/templates/deployment.yaml
  infra/helm/linksphere-frontend/templates/service.yaml
Due: none

fix: update replica count and add envFromSecret reference in deployment templates for linksphere-backend and linksphere-frontend
  infra/helm/linksphere-backend/templates/deployment.yaml
  infra/helm/linksphere-backend/values.yaml
  infra/helm/linksphere-frontend/values.yaml
Due: none

refactor: restructure Docker job templates for consistency in build and release processes
  .gitlab/ci/build.yml
  .gitlab/ci/release.yml
Due: none

fix: correct title in index.html and update comment in Dockerfile
  backend/Dockerfile
  frontend/index.html
Due: backend-build, frontend-build

fix: update title in index.html and correct comment in Dockerfile
  backend/Dockerfile
  frontend/index.html
Due: backend-build, frontend-build

fix: correct build stage comment in Dockerfile and update title in index.html
  backend/Dockerfile
  frontend/index.html
Due: backend-build, frontend-build

fix: correct title in index.html and update build stage comment in Dockerfile
  backend/Dockerfile
  frontend/index.html
Due: backend-build, frontend-build

fix: update title in index.html and correct build stage comment in Dockerfile
  backend/Dockerfile
  frontend/index.html
Due: backend-build, frontend-build
